<h1>Dashboard</h1>

<h3>Notifications</h3>
<ul>
<% @notifications.each do |n| -%>
  <div class="alert alert-primary">
    <%= link_to(n.msg, device_by_sn_path(n.device.serial_no)) %>
    <%= link_to("X", dismiss_notification_path(n.id), method: :post) %>
  </div>
<% end -%>
</ul>
<%= paginate @notifications, { controller: 'admin', action: 'dashboard', param_name: 'n_page' } %>

<a name="devices">
<h3>Devices List</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr class="">
      <th>Serial Number</th>
      <th>Firmware Version</th>
      <th>Registration Date</th>
    </tr>
  </thead>
  <tbody>
  <% @devices.each do |d| -%>
  <tr>
    <td><%= link_to(d.serial_no, device_by_sn_path(d.serial_no)) %></td>
    <td><%= d.firmware_version %></td>
    <td><%= d.created_at.strftime("%Y-%m-%d %I:%M:%S %p %z") %></td>
  </tr>
  <% end -%>
</table>
<%= paginate @devices, {controller: 'admin', action: 'dashboard' } %>